<div id="container_doom_meter">
  <div id="doom-meter"><%= render partial: 'doom_meter' %></div>
  <div id="user_dooms">
    <div class="doom_info_block"><%= render partial: 'doom_meter/form' %></div>
  </div>
</div>