@import "rails-social-share-button";
@import "doom";
@import "doom_meter";
@import "bootstrap-sprockets";
@import "bootstrap";


body {
  font-family: arial, sans-serif;
  background: #1F1F1F;
}

#header {
  width: 100%;
  height: 90px;
  background: #DFDFDF;

  #header_content {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .login_link {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      color: #1F1F1F;
      margin:20px 0;
    }

    #dmeter, #dmeter option {
      border: none;
      cursor: pointer;
      width: 100%;
      background: #EBEBEB;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      padding: 10px;
      margin: 5px 0;
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      color: #1F1F1F;
    }

    .login {
      float: right;

      .nav_login_link, .nav_registration_link {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        text-transform: uppercase;
        color: #1F1F1F;
      }

      //modal

      #loginModal {
        background: rgba(31, 31, 31, 0.6);
      }

      #registrationModal {
        background: rgba(31, 31, 31, 0.6);
      }

      .modal-dialog {
        width: 580px;
        border-radius: 10px;
        top: 50%;
        margin-top: -207px;
        background: #C4C4C4;
        border-radius: 10px;
      }

      .modal-content {
        background: #C4C4C4;
        height:415px;
        text-align: center;
      }

      #registrationModal .modal-content {
        height:485px;
      }

      .field {
        color: #1F1F1F;
        margin:0 0 15px;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        text-transform: capitalize;
      }

      .login-field {
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        text-transform: capitalize;
        color: #1F1F1F;
      }

      .actions {
        width: 260px;
        height: 40px;
        background: #4F8CF6;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        margin: 15px auto;
      }

      .actions input{
        background: #4F8CF6;
        padding: 10px 100px;
        border-radius: 10px;
        font-family: Montserrat, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
      }

      #registrationModal .g-recaptcha  {
        margin: 20px 120px 0;
      }

      #loginModal .g-recaptcha  {
        margin: 40px 120px 20px;
      }

      .field-checkbox label {
        font-weight: normal;
        font-size: 13px;
      }

      .field {
        margin-top: 20px;

        input {
          padding: 20px;
          width: 340px;
          height: 40px;
          background: #EBEBEB;
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
          border-radius: 10px;
          border: none;
        }
      }

      .left-margin {
        margin-left: 105px;
        float: left;
      }

      .right-margin {
        margin-right: 105px;
        float: right;
      }
    }
  }
}

#flash-message {
  position: fixed;
  top: 100px;
  color: #1F1F1F;
  padding: 10px;
  background: darkgray;
  border-radius: 10px;
  z-index: 999;

  p {
    margin: 0
  }
}

.inline a:hover {
  text-decoration: none;
}

.two_button {
  padding: 10px 30px;
}